<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.athaitao.ssm.mapper.projectMapper">
	<resultMap type="Project" id="projectMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="information" property="information"/>
		<result column="briefintroduction" property="briefintroduction"/>
		<result column="money" property="money"/>
		<result column="day" property="day"/>
		<result column="daysremaining" property="daysremaining"/>
		<result column="status" property="status"/>
		<result column="supportmoney" property="supportmoney"/>
		<result column="userid" property="userid"/>
		<result column="imageurl" property="imageurl"/> 
		<result column="hot" property="hot"/> 
		<result column="price" property="price"/> 
		<result column="phone" property="phone"/> 
	</resultMap> 
	
	<!-- List<Project> selecthot(String hotstatus); -->
	<select id="selecthot" resultMap="projectMap">
		select * from project where hot=#{hotstatus}
	</select>
	
	<!-- List<Banner> selectbanneruel(); -->
		<select id="selectbanneruel" resultType="Banner">
		select * from banner
	</select>
	<!-- void collect(@Param("uid")String uid,@Param("pid") String pid); -->
	<insert id="collect">
		insert into collect(pid,uid)
		values(#{pid},#{uid})
	</insert>
	
	<!-- List<Project> selectcollect(@Param("uid")String uid); -->
	<select id="selectcollect" resultMap="projectMap">
		select p.* from project p,collect c where c.pid=p.id and c.uid=#{uid}
	</select>
	
	<!-- List<Project> selectsearch(@Param("name")String name); -->
	<select id="selectsearch" resultMap="projectMap">
		select * from project where name like '%${name}%'
	</select>
	
	<!-- void follow(@Param("uid")String uid,@Param("pid") String pid,@Param("price") String price,@Param("status") String status,String createdate,String orderNum); -->
	<insert id="follow">
		insert into `order`(userid,projectid,ordernum,createdate,money,`status`,remark,address)
		values(#{uid},#{pid},#{orderNum},#{createdate},#{price},#{status},'很好','中国')
	</insert> 
<!-- void add(@Param("name")String name,@Param("information") String information, String money,@Param("day") String day,@Param("briefintroduction") String briefintroduction);-->
	<insert id="add">
	insert into project(name,information,briefintroduction,money,day,daysremaining,status,supportmoney,userid,createdate,imageurl,hot,price,phone)
	value(#{name},#{information},#{briefintroduction},#{money},#{day},#{day},'0','0','1','2020-06-30','/123456789.jpg','0','1000','13036690901')
	</insert>

<!-- void delcollect(@Param("pid")String pid, @Param("uid")String uid); -->
	<delete id="delcollect">
	delete from collect where pid=#{pid} and uid=#{uid}
	</delete>
	
	<!-- Integer selectCount(@Param("uid")String uid); -->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from `order` where userid=#{uid}
 	</select>
 	<!-- Double Summoney(@Param("uid")String uid); -->
	<select id="Summoney" resultType="java.lang.Double">
		select sum(money) from `order` where userid=#{uid}
	</select>
	
	
	
	
	
	
	
</mapper>